<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS307 Project2: Database Application</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Database Application</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <!--                        <li class="dropdown">-->
                        <!--                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong-->
                        <!--                                    class="caret"></strong></a>-->
                        <!--                            <ul class="dropdown-menu">-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Action</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Another action</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Something else here</a>-->
                        <!--                                </li>-->
                        <!--                                <li class="divider">-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Separated link</a>-->
                        <!--                                </li>-->
                        <!--                                <li class="divider">-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">One more separated link</a>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </li>-->
                    </ul>
                    <!--                    <form class="navbar-form navbar-left" role="search">-->
                    <!--                        <div class="form-group">-->
                    <!--                            <input type="text" class="form-control"/>-->
                    <!--                        </div>-->
                    <!--                        <button type="submit" class="btn btn-default">Submit</button>-->
                    <!--                    </form>-->
                    <!--                    <ul class="nav navbar-nav navbar-right">-->
                    <!--                        <li>-->
                    <!--                            <a href="#">Link</a>-->
                    <!--                        </li>-->
                    <!--                        <li class="dropdown">-->
                    <!--                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong-->
                    <!--                                    class="caret"></strong></a>-->
                    <!--                            <ul class="dropdown-menu">-->
                    <!--                                <li>-->
                    <!--                                    <a href="#">Action</a>-->
                    <!--                                </li>-->
                    <!--                                <li>-->
                    <!--                                    <a href="#">Another action</a>-->
                    <!--                                </li>-->
                    <!--                                <li>-->
                    <!--                                    <a href="#">Something else here</a>-->
                    <!--                                </li>-->
                    <!--                                <li class="divider">-->
                    <!--                                </li>-->
                    <!--                                <li>-->
                    <!--                                    <a href="#">Separated link</a>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                </div>

            </nav>
            <div class="jumbotron" contenteditable="true" spellcheck="false">
                <h1>
                    <div>
                        <span style="font-size: 23.203pt; font-family: OpenSans-Bold; font-weight: bold;">CS307 Project2: Database Application</span>
                        <h4>by 林雨航 曾宪清</h4>
                    </div>
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>
                        CRUD on the original data
                    </h2>
                    <div class="btn-group btn-group-lg">
                        <a class="btn btn-link btn-lg" href="http://127.0.0.1:5000/enterprise/insert/"><em
                                class="glyphicon glyphicon-briefcase"></em> enterprise
                        </a>
                        <a class="btn btn-link btn-lg" href="http://127.0.0.1:5000/staff/insert/"><em
                                class="glyphicon glyphicon-user "></em>
                            staff
                        </a>
                        <a class="btn btn-link btn-lg" href="http://127.0.0.1:5000/model/insert/"><em
                                class="glyphicon glyphicon-tags"></em>
                            model
                        </a>
                        <a class="btn btn-link btn-lg" href="http://127.0.0.1:5000/center/insert/"><em
                                class="glyphicon glyphicon-globe"></em> center
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <!--    row-1-->
    <div class="row clearfix">

        <div class="page-header">
            <h1>
                <div>
                    <span style="font-size: 23.203pt; font-family: OpenSans-Bold; font-weight: bold;">Import Data</span>
                </div>
            </h1>
        </div>
        <!--        col-1-->
        <div class="col-md-6 column">
            <h3 class="text-left">
            </h3>
            <h3>
                Import four basic tables
            </h3>
            <dl>
                <dt>
                    <span>Import into tables enterprise, staff, model, center</span>
                </dt>
            </dl>
            <button type="button" class="btn btn-lg btn-primary" id="myButton1"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                const post_danmu = new XMLHttpRequest();
                $(function () {
                    $("#myButton1").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=importFour', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
        <!--        col-2-->
        <div class="col-md-6 column">
            <h3 class="text-left">
            </h3>
            <h3>
                One Step Import
            </h3>
            <dl>
                <dt>
                    <span>Import into four basic tables and update tables "stock" and "order"</span>
                </dt>
            </dl>
            <button type="button" class="btn btn-lg btn-primary" id="myButton2"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                $(function () {
                    $("#myButton2").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=oneStepImport', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
    </div>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <!--    row-2-->
    <div class="row clearfix">

        <div class="page-header">
            <h1>
                <div>
                    <span style="font-size: 23.203pt; font-family: OpenSans-Bold; font-weight: bold;">APIs</span>
                </div>
            </h1>
        </div>
        <!--        col-1-->
        <div class="col-md-4 column">
            <h3 class="text-left">
            </h3>
            <h3>
                Stock In
            </h3>
            <dl>
                <dt>
                    <span>Action of increasing the product inventory</span>
                </dt>
            </dl>
            <h1></h1>
            <button type="button" class="btn btn-lg btn-primary" id="myButton3"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                $(function () {
                    $("#myButton3").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=stockIn', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
        <!--        col-2-->
        <div class="col-md-4 column">
            <h3>
                Place Order
            </h3>
            <dl>
                <dt>
                    <span>Place an order which sells specific products to an enterprise </span>
                </dt>
            </dl>
            <button type="button" class="btn btn-lg btn-primary" id="myButton4"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                // const post_danmu = new XMLHttpRequest();
                $(function () {
                    $("#myButton4").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=placeOrder', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
        <!--        col-3-->
        <div class="col-md-4 column">
            <h3>
                Update Order
            </h3>
            <dl>
                <dt>
                    <span>Update orders according to the contract number, product model and salesman number</span>
                </dt>
            </dl>
            <button type="button" class="btn btn-lg btn-primary" id="myButton5"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                // const post_danmu = new XMLHttpRequest();
                $(function () {
                    $("#myButton5").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=updateOrder', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
    </div>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <!--    row-3-->
    <!--    col-1-->
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h3>
                Delete Order
            </h3>
            <dl>
                <dt>
                    <span>Delete orders according to the contract number, salesman and sequence</span>
                </dt>
            </dl>
            <button type="button" class="btn btn-lg btn-primary" id="myButton6"
                    data-complete-text="Loading finished">Click
            </button>
            <script type="text/javascript">
                // const post_danmu = new XMLHttpRequest();
                $(function () {
                    $("#myButton6").click(function () {
                        $(this).button('loading').delay(1000).queue(function () {
                            $(this).button('complete');
                        });
                        post_danmu.open('POST', '?api=deleteOrder', true);
                        post_danmu.send("");
                    });
                });
            </script>
        </div>
        <!--    col-2-->
        <div class="col-md-4 column">
            <h3>
                Get All Staff Count
            </h3>
            <dl>
                <dt>
                    <span>Return the numbers of people for all types of staffs.</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getAllStaffCount/">View details »
            </a>
        </div>
        <!--    col-3-->
        <div class="col-md-4 column">
            <h3>
                Get Contract Count
            </h3>
            <dl>
                <dt>
                    <span>Return the total number of existing contracts.</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getContractCount/">View details »
            </a>
        </div>
    </div>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <!--    row-4-->
    <!--    col-1-->
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h3>
                Get Order Count
            </h3>
            <dl>
                <dt>
                    <span>Return the total number of existing orders.</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getOrderCount/">View details »
            </a>
        </div>
        <!--    col-2-->
        <div class="col-md-4 column">
            <h3>
                Get Never Sold Product Count
            </h3>
            <dl>
                <dt>
                    <span>The number of product_models that are in stock but have never been ordered (sold).</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getNeverSoldProductCount/">View
                details »
            </a>
        </div>
        <!--    col-3-->
        <div class="col-md-4 column">
            <h3>
                Get Favorite Product Model
            </h3>
            <dl>
                <dt>
                    <span>Find the models with the highest sold quantity, and the number of sales.</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getFavoriteProductModel/"
               data-complete-text="Loading finished">View details »
            </a>
        </div>
    </div>

    <h1></h1>
    <h1></h1>
    <h1></h1>
    <!--    row-5-->
    <!--    col-1-->
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h3>
                Get AvgStock By Center
            </h3>
            <dl>
                <dt>
                    <span>For each supply center, calculate the average quantity of the remaining product models.</span>
                </dt>
            </dl>
            <a type="button" class="btn btn-link btn-lg" href="http://127.0.0.1:5000/getAvgStockByCenter/">View details
                »
            </a>
        </div>
        <!--    col-2-->

        <div class="col-md-4 column">
            <h3>
                Get Product By Number
            </h3>
            <dl>
                <dt>
                    <span>Find a product according to the product number.</span>
                </dt>
            </dl>
            <form method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Product Number</label>
                    <div class="col-sm-10">
                        <input name="product_number" type="text" class="form-control" id="product_number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!--    col-3-->
        <div class="col-md-4 column">

            <h3>
                Get ContractInfo
            </h3>
            <dl>
                <dt>
                    <span>Find a contract with a contract number and return the content of the contract.</span>
                </dt>
            </dl>
            <form method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contract number</label>
                    <div class="col-sm-10">
                        <input name="contract_number" type="text" class="form-control" id="contract_number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
</body>
</html>