{% extends 'base.html' %}
{#导入模块， 并重命名为wtf#}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}CRUD on staff{% endblock %}
{% block content %}
<div class="container" style="margin-top: 50px">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>CRUD on table 'staff'</h1>
        <h1></h1>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/staff/insert/"> Insert
                    </a>
                    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/staff/update/"> Update
                    </a>
                    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/staff/select/"> Select
                    </a>
                    <a class="btn btn-primary btn-lg active" href="#"> Delete
                    </a>
                </div>
            </ul>
        </div>
        <h2>Delete Form</h2>
        {{ wtf.quick_form(form) }}
    </div>
    </nav>
</div>


{% endblock %}
